@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
 
@font-face {
    font-family: 'ones-bold';
    src: url(../font/static/Onest-Bold.ttf);
}
@font-face {
    font-family: 'ones-medium';
    src: url(../font/static/Onest-Medium.ttf);  
}
@font-face {
    font-family: 'ones-regular';
    src: url(../font/static/Onest-Regular.ttf);
}
*{
    margin: 0;
    font-family: 'ones-medium';
}
 
.menu-principal{
    margin: 15px;
    align-items: center;
}
 
.menu-principal>li a:hover{
    transition: 1s;
    background-color: rgb(255, 255, 255);
    color: #1C3433;
    border-radius: 5px;
}
.Company {
   border-radius: 10px;
   padding: 10px;
   border: 1px solid white;
   
 
}
 
.cabecalho nav{
    display: flex;
    background-color: #1C3433;
    padding: 5px;
    justify-content: space-around;
    height: 60px;
    text-align: center;
    align-items:end;
}
 
 
.navegacao>ul {
    list-style: none;
    display: flex;
}
.navegacao>ul a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 5px;
}
.navegacao>ul i{
    padding: 5px;
    font-size: 16px;}
 
.banner{
    height:100vh;
    background: linear-gradient(to right, rgba(28, 52, 51, 0.9), rgba(28, 52, 51, 0.4)), url(../img/fred\ sentado.jpg) no-repeat center center;
    object-fit: cover;
    background-size: cover;
 
}
.banner>h1 {
    margin-top: 120px;
    margin-left: 100px;
    color: white;
    font-family: 'ones-bold';
    font-size: 50px;
}
.banner>h1 span{
    color: #53CC6C;
}
.banner>p {
    font-family: 'ones-regular';
    color: white;
    margin-left: 100px;
    margin-bottom: 50px;
}
 
.banner>a {
    text-decoration: none;
    margin-left: 120px;
    color: #53CC6C;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
}
.banner>a:hover {
    transition: 1s;
    background-color: #53CC6C;
    color: white;
}
 